{% extends "base.html" %}
{% block title %}Catégories{% endblock %}

{% block content %}
<div class="taxonomy-page">
  <h1>Catégories</h1>
  <ul class="list-group taxonomy-list">
    {% for category, articles in categories %}
      <li class="list-group-item">
        <a href="{{ SITEURL }}/category/{{ category.slug }}.html">
          <span>{{ category.name }}</span>
          <span class="badge">{{ articles|length }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
